* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #004643 50%, #abd1c6 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*edições da barra de navegação*/
.barra_nav {
    width: 100%;
    height: 60px;
    background: #fffffe;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

/*logo*/ 
.logo img {
    width: 70px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 250px;
    overflow: hidden;
}

/* edições do botão 1 - home*/
.caixa_botao1 {
    width: 200px;
    height: 200px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 835px;
    overflow: hidden;
}

.botao1 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao1 {
    width: 102px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao1:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/* edições do botão 2 - sobre mim*/
.caixa_botao2 {
    width: 200px;
    height: 200px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 985px;
    overflow: hidden;
}

.botao2 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao2 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao2:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/* edições do botão 3 - contato*/
.caixa_botao3 {
    width: 200px;
    height: 200px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 1135px;
    overflow: hidden;
}

.botao3 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao3 {
    width: 83px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao3:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições da primeira parte do conteúdo - superior***
***título*/

.fundo1 img {
    width: 520px;
    height: 280px;
    opacity: 1;
    position: fixed;
    top: 50px;
    left: 182px;
}

.titulo {
    width: 543px;
    color: #001e1d;
    position: fixed;
    top: 120px;
    left: 240px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 90px;
    opacity: 1;
    text-align: left;
}

/*edições da primeira parte do conteúdo - superior***
***conteúdo*/
.subtitulo1 {
    width: 686px;
    color: #fffffe;
    position: fixed;
    top: 90px;
    left: 730px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.infos1 {
    width: 566px;
    color: #abd1c6;
    position: fixed;
    top: 130px;
    left: 735px;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

/*edições da segunda parte do conteúdo - inferior***
***conteúdo*/
.subtitulo2 {
    width: 686px;
    color: #001e1d;
    position: fixed;
    top: 400px;
    left: 195px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.infos2 {
    width: 566px;
    color: #0f3433;
    position: fixed;
    top: 440px;
    left: 200px;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

/*edições da segunda parte do conteúdo - inferior***
***ilustração*/
.caixa_ilustracao {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: fixed;
    top: 350px;
    left: 800px;
    overflow: hidden;
}

.ilustracao img{
    width: 300px;
    height: auto;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.ilustracao img:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

a{
    color:#abd1c6;
}
a:hover{
    color:#fffffe;
    font-weight: bold;
}