* {
    box-sizing: border-box;
}

body {
    background-color: #abd1c6;
}

/* barra de navegação */
.barra_nav {
    width: 100%;
    height: 60px;
    background: #fffffe;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

/* logo */
.logo img {
    width: 70px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 200px;
    overflow: hidden;
}

/*edições botão 1 - home*/
.caixa_botao1 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 835px;
    overflow: hidden;
}

.botao1 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao1 {
    width: 95px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao1:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições botão 2 - portfolio*/
.caixa_botao2 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 985px;
    overflow: hidden;
}
  
.botao2 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao2 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao2:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições botão 3 - contato*/
.caixa_botao3 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1135px;
    overflow: hidden;
}

.botao3 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao3 {
    width: 83px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao3:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/* título da página*/
.caixa_titulo {
    width: 600px;
    height: 600px;
    opacity: 1;
    position: fixed;
    top: 63px;
    left: 140px;
    overflow: hidden;
}

.fundo1 {
    width: 400px;
    height: 200px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
}

.titulo_parte1 {
    width: 353px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 55px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: left;
}

.titulo_parte2 {
    width: 210px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 115px;
    left: 185px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: left;
}

/*foto do autor*/
.caixa_foto {
    width: 400px;
    height: 400px;
    margin: 10px;
    position: fixed;
    opacity: 1;
    top: 90px;
    left: 800px;
    overflow: hidden;
}

.foto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 320px;
    transition: all 0.5s;
    cursor: pointer;

    /*apagando o '/  *  /' o filtro se aplica*/

    /*/filter: blur(4px)                         /*embaçar */
    /*/filter: brightness(250%);                 /*brilho*/
    /*/filter: contrast(180%);                   /*contraste*/
    /*/filter: grayscale(100%);                  /*escala de cinza*/
    /*/filter: hue-rotate(180deg);               /*matiz*/
    /*/filter: invert(100%);                     /*inversão*/
    /*/filter: opacity(50%);                     /*opacidade*/
    /*/filter: saturate(7);                      /*saturação*/
    /*/filter: sepia(100%);                      /*sépia*/
    /*/filter: drop-shadow(8px 8px 10px green);  /*sombra*/
}

.foto img:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5)) sepia(60);
}

.row {
    position: absolute;
    left: 12px;
    top: 450px;
}

