* {
    box-sizing: border-box;
}

body {
    background-color: #abd1c6;
}

/*edições da barra de navegação*/
.barra_nav {
    width: 100%;
    height: 60px;
    background: #fffffe;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

/*edições do logo*/
.logo img {
    width: 70px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 200px;
    overflow: hidden;
}

/*edições do botão 1 - home*/
.caixa_botao1 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 835px;
    overflow: hidden;
}

.botao1 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
  
.texto_botao1 {
    width: 102px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao1:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições do botão 2 - sobre mim*/
.caixa_botao2 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 985px;
    overflow: hidden;
}
  
.botao2 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao2 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao2:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições do botão 3 - portfólio*/
.caixa_botao3 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1135px;
    overflow: hidden;
}

.botao3 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao3 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao3:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições do título*/
.fundo1 img {
    width: 550px;
    height: 300px;
    opacity: 1;
    position: absolute;
    top: 63px;
    left: 375px;
}
  
.titulo {
    width: 431px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 128px;
    left: 425px;
    font-family: Noto Sans HK;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: center;
}

/*edições dos meios de contato*/
.contato1 {
    width: 92px;
    height: 96px;
    opacity: 1;
    position: absolute;
    top: 375px;
    left: 460px;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.contato1:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
  
.contato2 {
    width: 90px;
    height: 90px;
    opacity: 1;
    position: absolute;
    top: 487px;
    left: 460px;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.contato2:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
  
.contato3 {
    width: 92px;
    height: 96px;
    opacity: 1;
    position: absolute;
    top: 484px;
    left: 728px;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.contato3:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
  
.contato4 {
    width: 92px;
    height: 96px;
    opacity: 1;
    position: absolute;
    top: 375px;
    left: 728px;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.contato4:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edição da nota de rodapé*/
.rodape {
    width: 400px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 630px;
    left: 499px;
    font-family: Noto Sans HK;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: absolute;
}