* {
    box-sizing: border-box;
}

body {
    background-color: #ABD1C6;
    background-attachment: fixed
}

/*inicio edições da barra de navegação*/
.barra_nav {
    width: 100%;
    height: 60px;
    background: #fffffe;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


/*logo*/
.logo img{
    width: 70px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 200px;
    overflow: hidden;
}

/*edições botão 1 - sobre mim*/
.caixa_botao1 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 835px;
    overflow: hidden;
}

.botao1 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao1 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao1:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições botão 2 - portfolio*/
.caixa_botao2 {
    width: 400px;
    height: 400px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 985px;
    overflow: hidden;
}

.botao2 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao2 {
    width: 83px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao2:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições botão 3 - contato*/
.caixa_botao3 {
    width: 200px;
    height: 200px;
    opacity: 1;
    position: fixed;
    top: 10px;
    left: 1135px;
    overflow: hidden;
}

.botao3 {
    width: 120px;
    height: 40px;
    background: #f9bc60;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.texto_botao3 {
    width: 99px;
    color: #001e1d;
    position: center;
    font-family: Noto Sans HK;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.botao3:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

/*edições da frase central da página*/

.caixa_frase {
    width: 100%;
    height: 1012px;
    opacity: 1;
    position: fixed;
    top: 140px;
    left: 250px;
    overflow: hidden;
}
  
.boas_vindas {
    width: 700px;
    color: #004643;
    position: absolute;
    top: 30px;
    left: 450px;
    font-family: Noto Sans HK;
    font-weight: bolder;
    font-size: 105px;
    opacity: 1;
    text-align: left;
}

/*espaço  provisório para inserção da ilustração*/
.caixa_ilustracao {
  width: 600px;
  height: 700px;
  opacity: 1;
  position: fixed;
  top: 85px;
  left: 100px;
  overflow: hidden;
}

.ilustracao img{
  max-width: 600px;
  height: auto;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
  cursor: pointer;
}

.ilustracao img:hover{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}



